.allProductPage .heading {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.allProductPage .heading p {
    font-size: 50px;

}

.allProductPage .allProductContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media  only screen and (max-width: 550px) {
    .allProductPage .heading  p{
        font-size: 25px;
    }
    .product-container{
        width: 100%;
    }
}