.slider-head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slider-head p {
    font-size: 55px;
    font-weight: 700;
    color: #ffbb00;
}

.mini-product-container{
    height: 425px !important;
}

@media only screen and (max-width: 540px) {
    .slider-head p{
        font-size: 34px;
    }
}